<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="icon" type="image/png" href="../static/img/home/favicon.png">
    <title>About | Nz Cars</title>
</head>

<body>
    <nav>
        <div class="nav">
            <div class="logo">
                <a href="/Nz-Cars/">
                    <img class="logo-img" src="../static/img/home/logo.png" alt="logo.png">
                </a>
                <a href="/Nz-Cars/">
                    <h5 id="brand-name">Nz Cars</h5>
                </a>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="/Nz-Cars/">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./buy.html">Buy</a></li>
                    <li><a href="./gallery.html">Gallery</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="sales-hrs">Sales Hours: 9AM - 8PM</div>

    <!-- About Here -->
    <div class="banner">
        <img src="../static/img/about/about-banner.jpg" alt="">
        <div class="text-about">
            <h1>About Nz Cars</h1>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="about">
        <h5>Nz Cars, a luxury car dealer deals with 24 brands</h5>
        <p>Nz Cars started in 2009 as a benchmark model for the new cars as how we prefer to see it as, Pre-Loved Car
            Brand. The mission was simple, direct and drove effect - delivering a new dimension of luxury while
            standardising & raising platforms for the used car market in India.

            Since our inception our primary aim has been our passion for delivering excellence which became our mission.
            YOU (our patrons) are the driving force behind our company and making sure you get the best is what we
            thrive on.
        </p>
    </div>
    <div class="about">
        <h5>Mission</h5>
        <p> The journey began in 2009 when Nz Cars was founded in New Delhi, India. Since then our mission has been to
            provide quality exotic cars with highly personalized care at a competitive price. Creating a new benchmark
            for excellence in every aspect of our business.
        </p>
    </div>
    <div class="container">
        <div class="info">
            <h5>DEDICATED SERVICE CENTRE</h5>
            <p>We believe in the philosophy, that If you can’t keep your customers Happy better not to do that business.
                At Nz Cars the aim has always been to dream big and achieve great. Welcome to our showroom's tour.
            </p>
        </div>
        <div class="img-cont">
            <img src="../static/img/about/show-cars.jpg" alt="">
        </div>
    </div>
    <div class="vision">
        <div class="vision-head">
            <h5>Vision</h5>
        </div>
        <div class="logo-vision">
            <div class="logo">
                <a href="/Nz-Cars/">
                    <img class="logo-img" src="../static/img/home/footer-logo.png" alt="logo.png">
                </a>
                <a href="/Nz-Cars/">
                    <h5 id="brand-name">Nz Cars</h5>
                </a>
            </div>
        </div>
        <div class="vision-info">
            <p>At Nz Cars our vision is to buy and sell modern cars that define quality and luxury for the 21st century.
                Applying our expertise in this industry, we aspire to transform the exotic car market, where cars are
                the ultimate expression of modern dynamism and luxury.</p>
        </div>
    </div>
<!--  Footer here  -->
    <footer>
        <img src="../static/img/home/footer-audi.jpg" alt="">
        <div class="footer-content">
            <div class="footer-logo">
                <div class="logo logo-name">
                    <a href="/Nz-Cars/">
                        <img class="logo-img logo-footer" src="../static/img/home/footer-logo.png" alt="logo.png">
                    </a>
                    <a href="/Nz-Cars/">
                        <h5 id="brand-name-f">Nz Cars</h5>
                    </a>
                </div>
            </div>
            <div class="footer-nav">
                <div class="company">
                    <ul class="foot-ul">
                        <li><a class="a-li" href="#">Company</a></li>
                        <li><a href="./about.html">About Us</a></li>
                        <li><a href="./contact.html">Contact Us</a></li>
                        <li><a href="#">History</a></li>
                    </ul>
                </div>
                <div class="contact">

                    <ul class="foot-ul">
                        <li><a class="a-li" href="./contact.html">Contact</a></li>
                        <li><a href="./about.html">Know More</a></li>
                        <li><a href="#">Share</a></li>
                        <li><a href="#">Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rule">
            <div style="height: 300px;"></div>
            <div class="copyright">
                Copyright &copy; 2020-2021 &nbsp;|&nbsp; Nz Cars
            </div>
            <hr>
            <div class="follow">
                <div>Follow :</div>
            </div>
        </div>
    </footer>
</body>
</html>