<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/buy.css">
    <link rel="icon" type="image/png" href="static/img/home/logo.png">
    <title>Buy | Nz Cars</title>
</head>

<body>
    <nav>
        <div class="nav">
            <div class="logo">
                <a href="/Nz-Cars/">
                    <img class="logo-img" src="../static/img/home/logo.png" alt="logo.png">
                </a>
                <a href="/Nz-Cars/">
                    <h5 id="brand-name">Nz Cars</h5>
                </a>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./buy.html">Buy</a></li>
                    <li><a href="./gallery.html">Gallery</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="sales-hrs">Sales Hours: 9AM - 8PM</div>

<!-- Buy Here -->
    <div class="front">
        <h1>Featured Today</h1>
        <div class="front-content">
            <div class="first"><p>
                <b>BMW M340i FEATURED CAR</b> <p class="grey"> BMW M340i is the most affordable and </p> <p class="grey"> First locally assembled BMW M Car in India.</p>
                </p>
                </div>
            <div class="mid">
                <img src="../static/img/buy/blue-bmw.jpg" alt="">
            </div>
            <div class="end">
                <p><b>*</b>Locally Assembled in India</p>
                <p><b>*</b>Baby BMW M3 Sports Sedan</p>
                <p><b>*</b>Base Price Rs 62.90 Ex-showroom</p>
            </div>
        </div>
    </div>
    <div class="card-m">
        <div class="first-card">
            <img src="../static/img/buy/white-mer.jpg" alt="">
            <h5>MERCEDES BENZ GLE 300D</h5>
        </div>
        <div class="second-card">
            <img src="../static/img/buy/orange-mus.jpg" alt="">
            <h5>FORD MUSTANG GT</h5>
        </div>
        <div class="third-card">
            <img src="../static/img/buy/porche2.jpg" alt="">
            <h5>PORCHE 2</h5>
        </div>
    </div>
    <div class="deal-head">Latest Deals</div>
    <div class="cards">
        <div class="card">
            <img src="../static/img/buy/cards/car_1_1.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
        <div class="card">
            <img src="../static/img/buy/cards/car_1_2.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
        <div class="card">
            <img src="../static/img/buy/cards/car_1_3.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
        <div class="card">
            <img src="../static/img/buy/cards/car_1_4.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
    </div>
    <div class="cards">
        <div class="card">
            <img src="../static/img/buy/cards/car_2_1.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
        <div class="card">
            <img src="../static/img/buy/cards/car_2_2.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
        <div class="card">
            <img src="../static/img/buy/cards/car_2_3.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
        <div class="card">
            <img src="../static/img/buy/cards/car_2_4.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
    </div>
    <div class="cards">
        <div class="card">
            <img src="../static/img/buy/cards/car_3_1.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
        <div class="card">
            <img src="../static/img/buy/cards/car_3_2.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
        <div class="card">
            <img src="../static/img/buy/cards/car_3_3.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
        <div class="card">
            <img src="../static/img/buy/cards/car_3_4.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
    </div>
    <div class="cards">
        <div class="card">
            <img src="../static/img/buy/cards/car_4_1.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
        <div class="card">
            <img src="../static/img/buy/cards/car_4_2.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
        <div class="card">
            <img src="../static/img/buy/cards/car_4_3.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
        <div class="card">
            <img src="../static/img/buy/cards/car_4_4.jpg" alt="">
            <div class="info">
                <h3>car name</h3>
                <h3 class="price">₹ 3.15 CR</h3>
                <div class="info-card">
                    <div class="fuel"><h3>FUEL TYPE</h3><h3 class="red">PETROL</h3></div>
                    <div class="engine"><h3>ENGINE</h3><h3 class="red">2838 CC</h3></div>
                </div>
            </div>
        </div>       
    </div>
   
    <div class="pages">
        
    </div>


    <!-- Footer Here -->
    <footer>
        <img src="../static/img/home/footer-audi.jpg" alt="">
        <div class="footer-content">
            <div class="footer-logo">
                <div class="logo logo-name">
                    <a href="/Nz-Cars/">
                        <img class="logo-img logo-footer" src="../static/img/home/footer-logo.png" alt="logo.png">
                    </a>
                    <a href="/Nz-Cars/">
                        <h5 id="brand-name-f">Nz Cars</h5>
                    </a>
                </div>
            </div>
            <div class="footer-nav">
                <div class="company">
                    <ul class="foot-ul">
                        <li><a class="a-li" href="#">Company</a></li>
                        <li><a href="./about.html">About Us</a></li>
                        <li><a href="./contact.html">Contact Us</a></li>
                        <li><a href="#">History</a></li>
                    </ul>
                </div>
                <div class="contact">

                    <ul class="foot-ul">
                        <li><a class="a-li" href="#">Contact</a></li>
                        <li><a href="./about.html">Know More</a></li>
                        <li><a href="#">Share</a></li>
                        <li><a href="#">Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rule">
            <div style="height: 300px;"></div>
            <div class="copyright">
                Copyright &copy; 2020-2021 &nbsp;|&nbsp; Nz Cars
            </div>
            <hr>
            <div class="follow">
                <div>Follow :</div>
            </div>
        </div>
    </footer>



</body>

</html>