<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/contact.css">
  <title>Contact | Nz Cars</title>
</head>

<body>
  <nav>
    <div class="nav">
      <div class="logo">
        <a href="/index.html">
          <img class="logo-img" src="static/img/home/logo.png" alt="logo.png">
        </a>
        <a href="/index.html">
          <h5 id="brand-name">Nz Cars</h5>
        </a>
      </div>
      <div class="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/buy.html">Buy</a></li>
          <li><a href="/gallery.html">Gallery</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="sales-hrs">Sales Hours: 9AM - 8PM</div>
  <!-- contact here -->
  <div class="container">
    <div class="contact">
      <h1>Contact Us</h1>
      <div class="info">
        <img id="img-1" src="static/img/contact/unread.png" alt="">
        <div class="cont">
          <h2>sales@nzcars.com</h2>
          <p>The best way to get answer faster.</p>
        </div>
      </div>
      <div class="info">
        <img id="img-2" src="static/img/contact/phone-call.png" alt="">
        <div class="cont">
          <h2>(+91) 9999 99999 99</h2>
          <p>We are happy to help(10am to 10pm).</p>
        </div>
      </div>
      <h1>OUR SHOWROOM</h1>
      <div class="address">
        <h3>Mumbai Headquarters</h3>
        <p>A-59, Giriraj Indl Est, Mahakali Caves Rd, Andheri (west)- 122001</p>
        <h3>Delhi Showroom</h3>
        <p>5413, New Market, Sadar Bazar</p>
        <h3>Nashik Studio</h3>
        <p> Sethis City Plaza, 1st Floor, Opp Kalika Mandir, Old Agra Road</p>
      </div>
    </div>
    <form>
      <h1 class="h4 frm-title">Send us an Email</h1>
      <h4>Drop us a line by using the below form</h4>
      <fieldset class="sm">
        <input type="text" placeholder="Your Name*" name="coname" required="">
        <input type="text" placeholder="Location*" name="location" required="">
      </fieldset>
      <fieldset class="sm">
        <input type="email" placeholder="Email*" name="coemail" required="">
        <input type="tel" placeholder="Phone*" name="cophone" title="Please enter a valid mobile number"
          pattern="[1-9]{1}[0-9]{9}" required="">
      </fieldset>
      <fieldset class="message">
        <textarea placeholder="Message*" name="socomment" required=""></textarea>
      </fieldset>
      <button class="submit" type="submit">Submit</button>
    </form>
  </div>
  <!-- footer here -->
  <footer>
    <img src="static/img/home/footer-audi.jpg" alt="">
    <div class="footer-content">
      <div class="footer-logo">
        <div class="logo logo-name">
          <a href="/index.html">
            <img class="logo-img logo-footer" src="static/img/home/footer-logo.png" alt="logo.png">
          </a>
          <a href="/index.html">
            <h5 id="brand-name-f">Nz Cars</h5>
          </a>
        </div>
      </div>
      <div class="footer-nav">
        <div class="company">
          <ul class="foot-ul">
            <li><a class="a-li" href="">Company</a></li>
            <li><a href="/about.html">About Us</a></li>
            <li><a href="/contact.html">Contact Us</a></li>
            <li><a href="/">History</a></li>
          </ul>
        </div>
        <div class="contact">

          <ul class="foot-ul">
            <li><a class="a-li" href="">Contact</a></li>
            <li><a href="/about.html">Know More</a></li>
            <li><a href="/">Share</a></li>
            <li><a href="/">Map</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="rule">
      <div style="height: 300px;"></div>
      <div class="copyright">
        Copyright &copy; 2020-2021 &nbsp;|&nbsp; Nz Cars
      </div>
      <hr>
      <div class="follow">
        <div>Follow :</div>
      </div>
    </div>
  </footer>



</body>

</html>