<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/gallery.css">
    <link rel="icon" type="image/png" href="../static/img/home/favicon.png">
    <title>Gallery | Nz Cars</title>
</head>

<body>
    <nav>
        <div class="nav">
            <div class="logo">
                <a href="/Nz-Cars/">
                    <img class="logo-img" src="../static/img/home/logo.png" alt="logo.png">
                </a>
                <a href="/Nz-Cars/">
                    <h5 id="brand-name">Nz Cars</h5>
                </a>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="/Nz-Cars/">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./buy.html">Buy</a></li>
                    <li><a href="./gallery.html">Gallery</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="sales-hrs">Sales Hours: 9AM - 8PM</div>
    <!-- gallery here -->
    <div class="gallery">
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_1.jpg" alt="">
        </div>
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_2.jpg" alt="">
        </div>
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_9.jpg" alt="">
        </div>
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_4.jpg" alt="">
        </div>
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_5.jpg" alt="">
        </div>
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_6.jpg" alt="">
        </div>
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_7.jpg" alt="">
        </div>
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_8.jpg" alt="">
        </div>
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_10.jpg" alt="">
        </div>
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_13.jpg" alt="">
        </div>
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_14.jpg" alt="">
        </div>
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_12.jpg" alt="">
        </div>
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_11.jpg" alt="">
        </div>
        <div class="img-in">
            <img class="img-car-1" src="../static/img/gallery/gal_3.jpg" alt="">
        </div>
    </div>
    <!-- footer here -->
    <footer>
        <img src="../static/img/home/footer-audi.jpg" alt="">
        <div class="footer-content">
            <div class="footer-logo">
                <div class="logo logo-name">
                    <a href="/Nz-Cars/">
                        <img class="logo-img logo-footer" src="../static/img/home/footer-logo.png" alt="logo.png">
                    </a>
                    <a href="/Nz-Cars/">
                        <h5 id="brand-name-f">Nz Cars</h5>
                    </a>
                </div>
            </div>
            <div class="footer-nav">
                <div class="company">
                    <ul class="foot-ul">
                        <li><a class="a-li" href="#">Company</a></li>
                        <li><a href="./about.html">About Us</a></li>
                        <li><a href="./contact.html">Contact Us</a></li>
                        <li><a href="#">History</a></li>
                    </ul>
                </div>
                <div class="contact">

                    <ul class="foot-ul">
                        <li><a class="a-li" href="./contact.html">Contact</a></li>
                        <li><a href="./about.html">Know More</a></li>
                        <li><a href="#">Share</a></li>
                        <li><a href="#">Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rule">
            <div style="height: 300px;"></div>
            <div class="copyright">
                Copyright &copy; 2020-2021 &nbsp;|&nbsp; Nz Cars
            </div>
            <hr>
            <div class="follow">
                <div>Follow :</div>
            </div>
            <p class="footer-heart">
                Made with
                <g-emoji class="g-emoji" alias="heart"
                    fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
                    <img class="emoji" alt="heart" height="20" width="20"
                        src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
                </g-emoji>
                by
                <a href="https://github.com/supsa-ak" target="_blank"
                    style="display:inline; font-size:unset; padding-left: 0; margin: 0;">
                    Sarthak Kalpande
                </a>
                <i class="fab fa-github" style="margin-left: 7px;"></i>
            </p>
        </div>
    </footer>
    <script>
        console.info(
            'Made with %c♥%c by Sarthak Kalpande',
            'color: #e25555', 'color: unset'
        );
    </script>
</body>

</html>